.iline-content{
  display: inline-flex;
}
.topmargeline{
  border-top: 1px solid gray;
  margin-top: 35px;
}
.normalpad{
  padding: 17px 10px 10px 0px;
  font-weight: bold;
  font-size: 23px;
}
.normalpadright{
  padding: 10px 5px 10px 10px;
  font-weight: bold;
  font-size: 14px;
}
.imgprod{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 200px;
  min-height: 200px;
}
.dropbtn {
  color: black;
  padding: 16px;
  font-size: 12px;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 71px;
    overflow: auto;
    margin-left: 39px;
    margin-top: -34px;
    background: #fff6;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {color: blue;}

.show {display: block;}
#arrowdown {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 0 0 0 10px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  float: right;
  margin-top: 18px;
}
.red{
  background-color: green;
}
.blue{
  background-color: blue;
}
.black{
  background-color: black;
}
.pink{
  background-color: pink;
}
.white{
  background-color: white;
}
.prodnp{
  padding: 12px 10px;
}
.prodbg{
  background: whitesmoke;
  min-height: 311px;
}
